.DS_Store
.idea/
.vscode/
*.tmp
*.swp
site/
dist/
target/
**/target/
**/.build/
**/.swiftpm/
**/DerivedData/
**/xcuserdata/
*.log
.env
.env.*
!.env.example
!*.env.example
!.env.development.example
!**/.env.development.example
/tmp/
node_modules/
