<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serviceos.dispatch.infrastructure.ActiveServiceResponsibilityMapper">
    <select id="find" resultType="map">
        SELECT task_id AS "taskId",
               max(assignee_id) FILTER (WHERE responsibility_level = 'NETWORK') AS "networkId",
               max(assignee_id) FILTER (WHERE responsibility_level = 'TECHNICIAN') AS "technicianId"
          FROM dsp_service_assignment
         WHERE tenant_id = #{tenantId} AND task_id = #{taskId} AND status = 'ACTIVE'
         GROUP BY task_id
    </select>
</mapper>
